<div class="site-content">
    <div class="row">
        <div class="box">
            <div class="card">
            <div class="container">
                <h2>Stefan Dharmawan</h2>
                <img [src]="url2" width="100" height="100" alt="">
                <p>NIM : 00000034182</p>
                <p>stefan.dharmawan@student.umn.ac.id</p>
                <p><button class="button">Contact</button></p>
            </div>
            </div>
        </div>
   
        <div class="box">
            <div class="card">
                <h2>Christofer Alexander</h2>
                <img [src]="url1" width="100" height="100" alt="">
                <p>NIM : 00000034802</p>
                <p>christofer.alexander@student.umn.ac.id</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    
        <div class="box">
            <div class="card">
            <div class="container">
                <h2>Denn Sebastian</h2>
                <img [src]="url3" width="100" height="100" alt="">
                <p>NIM : 00000036981</p>
                <p>denn.sebastian@student.umn.ac.id</p>
                <p><button class="button">Contact</button></p>
            </div>
            </div>
        </div>

        <div class="box">
            <div class="card">
                <h2>Wilson Alvis</h2>
                <img [src]="url4" width="100" height="100" alt="">
                <p>NIM : 00000042008</p>
                <p>wilson.alvis@student.umn.ac.id</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

<!-- Site footer -->
    <footer class="site-footer">
        
    </footer> <!-- .site-footer -->
</div>