<div class="site-content">
    <div class="site-header">
        <div class="container">
            <a href="index.html" class="branding">
                <img src="images/logo.png" alt="" class="logo">
                <div class="logo-type">
                    <h1 class="site-title">Project Weather Kelompok 2</h1>
                    <small class="site-description">Number One Weather Forecast Website</small>
                </div>
            </a>

            <!-- Default snippet for navigation -->
            <div class="main-navigation">
                <!--<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>-->
                <ul class="menu">
                    <li class="menu-item"><a routerLink="/weather" routerLinkActive="active">Home</a></li>
                    <li class="menu-item"><a routerLink="/about" routerLinkActive="active">About Us</a></li>   
                </ul> <!-- .menu -->
            </div> <!-- .main-navigation -->
            <div class="mobile-navigation">
                <ul class="menu">
                    <li class="menu-item"><a routerLink="/weather" routerLinkActive="active">Home</a></li>
                    <li class="menu-item"><a routerLink="/about" routerLinkActive="active">About Us</a></li>  
                </ul>
            </div>

        </div>
    </div> <!-- .site-header -->

    <router-outlet></router-outlet>
    <!-- Router view goes here -->

    <footer class="site-footer">
        <div class="container">
            <small class="site-description">Created By KELOMPOK 2</small>
        </div>
    </footer>

</div>